html, body { height: 100%; }

body {
    margin: 0;
    padding: 0;
}

.parent {
    position: relative;
    margin: auto;
    width: 80%;
    height: 400px;
    background-color: darkcyan;
}

.parent:hover .child {
    animation-play-state: running;
}

.child {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-color: red;
    animation: circle 2s ease-in-out infinite alternate;
    animation-play-state: paused;
}


@keyframes circle {
    100% {
        left: calc(100% - 40px);
    }
}
