:root {
  --clr-primary-1: #004700;
  --clr-primary-2: #3D802C;
  --clr-primary-3:  #75B860;
  --clr-dark: #343b32;
  --clr-gray: #889397;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  max-width: 600px;
  margin: auto;
  padding: 15px;
}

.task {
  color: var(--clr-dark);
  position: relative;
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 15px;
}

.task.done {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.task-name {
  word-wrap: break-word;
}

.actions-content {
  border: 1px solid black;
  z-index: 1;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 6px 3px rgba(0, 0, 0, .1);
}

.icon {
  color: var(--clr-dark);
  font-size: 25px;
  cursor: pointer;
}

